@keyframes scaleUp {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(2);
  }
}

.expand-right{
  animation: scaleUp 0.3s ease-out forwards;
}