html {
  background-color: rgba(15, 15, 15, 1);
}

.hidden{
  opacity: 0;
  display: none !important;
  cursor: default;
}

.check{
  align-self: center;
  width: max-content;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  padding: 0.5rem;
  background-color: #19ffc5;
  color: #000;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #0d4540, -0px -0px 5px #0a6363;
  transition: all 0.3s ease-in-out;
}

.overlay{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
  background-color: #00000086;
}

body {
  max-width: 1700px;
  background: linear-gradient(
    45deg,
    rgb(28, 28, 28) 0%,
    rgb(21, 21, 21) 30%,
    rgb(11, 11, 11) 100%
  );
  box-sizing: border-box;
  color: white;
  font-family: "IBM plex sans", sans-serif;
  margin: 4rem auto;
  padding: 2rem;
  box-shadow: 0rem 0rem 1rem #383838;
  border-radius: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  position: sticky;
  width: flex-end;
  top: 0;
  z-index: 2000;
  background-color: #101010;
  padding: 1rem 1rem;
  border-radius: 20px;
}

.nav-left{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.theme{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0.7rem;
}

.theme i{
  font-size: 1.7rem;
  color: orange;
}

.nav-right {
  display: flex;
  cursor: pointer;
  align-self: center;
}

.nav-right img {
  height: 30px;
}

#date{
  font-size: 2.5rem;
  margin: 0;
}

#day{
  margin: 0;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

.search-bar{
  display: flex;
  flex: 2.5;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.search-bar:hover{
  background-color: #272727
}

.search-bar:hover #search{
  background-color: #272727;
}

.search{
  width: 98%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#search{
  flex: 1;
  border: none;
  background: none;
  background-color: #1a1a1a;
  font-size: 1.5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 20px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

#search:focus{
  color: #c5c5c5;
  outline: none;
}

.search i{
  padding: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.2rem;
  color: #19ffc5;
  transition: transform 0.1s ease-in-out;
  z-index: 1002;
}

#category{
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  background-color: #2e2e2e;
  color: #fff;
  font-weight: 600;
  border: none;
}

#category:focus{
  outline: none;
}

.qa-header{
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  border-radius: 20px 20px 0 0;
}

.qa-header p{
  font-size: 1.5rem;
  font-weight: 700;
  color: #c5c5c5;
  margin: 0;
  padding: 0.5rem 2rem;
}

.qa-header i{
  font-size: 1.5rem;
  font-weight: 700;
  color: #19ffc5;
  margin: 0;
  padding: 0.5rem 2rem;
}

.dictionary{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
  width: max-content;
  max-width: 550px;
  background-color: #0f0f0f;
  z-index: 1002;
  color: white;
  margin: 2rem auto;
  padding: 2rem;
  padding-top: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #2a2a2a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transform-origin: center center;
}

.word{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.word h1, .word h3, .dictionary h3{
  font-size: 0.8rem;
}

.word h1::first-letter{
  text-transform: uppercase;
}

.word h1{
  font-size: 1.2rem;
}

.word h1, .word h3, .dictionary h3{
  padding: 0;
  margin: 0.5rem 0;
}

.definition{
  font-weight: 500;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.left-column{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.side-card{
  height: max-content;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 0 0 1rem 0rem;
}

.quote{
  display: flex;
  flex-direction: column;
  height: max-content;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #0f0f0f;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2rem;
  box-shadow: 4px 4px 15px #101010, -4px -4px 15px #2a2a2a;
  transition: all 0.3s ease-in-out;
  gap: 0rem;
}

.quote-text{
  text-align: justify;
}

.quoteBlock{
  background-color: transparent;
  width: 100%;
}

.change{
  align-self: end;
  width: max-content;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  padding: 0.5rem 1rem;
  background-color: #19ffc5;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px #0d4540, -0px -0px 5px #0a6363;
  transition: all 0.3s ease-in-out;
}

.change i {
  color: #000;
}

.clock{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}

#clock{
  margin: 0;
  padding: 1rem 2rem;
  background-color: #0f0f0f;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2rem;
  box-shadow: 4px 4px 15px #101010, -4px -4px 15px #2a2a2a;
  transition: all 0.3s ease-in-out;
  height: max-content;
}

.clock .time-zone{
  margin: 0 1rem 0 0;
  padding: 0 0 0 0;
  background-color: #19ffc5;
  font-size: 1rem;
  width: max-content;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 15px #101010, -4px -4px 15px #2a2a2a;
  transition: all 0.3s ease-in-out;
}

.graph{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}

#graph{
  margin: 0;
  padding: 1rem 2rem;
  background-color: #0f0f0f;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2rem;
  box-shadow: 4px 4px 15px #101010, -4px -4px 15px #2a2a2a;
  transition: all 0.3s ease-in-out;
  height: max-content;
}

.week{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.days{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.week li, .days li{
  text-align: center;
  width: 40px;
}

.status{
  display: flex;
  font-size: 1.5rem;
  justify-self: center;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin: 3rem 0 0 0;
  background-color: #0f0f0f;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 15px #101010, -4px -4px 15px #2a2a2a;
  transition: all 0.3s ease-in-out;
}

.add-date{
  align-self: center;
  align-items: center;
  align-content: center;
  width: max-content;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  padding: 0.5rem 1rem;
  background-color: #19ffc5;
  color: #000;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px #0d4540, -0px -0px 5px #0a6363;
  transition: all 0.3s ease-in-out;
}

.right-column{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: top;
}

.main{
  width: 100%;
  max-width: 1000px;
  min-height: 35rem;
  height: max-content;
  box-shadow: 0rem 0rem 1rem #2e2e2e;
  border-radius: 20px;
  transition: transform 0.1s ease-in-out;
  background-color: #1a1a1a;
  padding: 1rem;
  padding-top: 0.5rem;
}

.primary-task{
  background-color: #0f0f0f;
  margin: 0.2rem 0 1rem 0;
  padding: 0 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.primary-task h3{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  font-style: italic;
  color: #dbdbdb;
}

.primary-task > h3 > a > i {
  color: #19ffc5;
  cursor: pointer;
}

.task-block{
  background-color: #0f0f0f;
  max-width: 100%;
  height: max-content;
  padding: 0.2rem 1.5rem;
  border-radius: 20px;
}

.todo-title h2{
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.icons{
  display: flex;
  padding: 0;
  width: 50%;
  justify-content: end;
}

.icons i{
  align-self: center;
  color: #19ffc5;
  font-size: 2rem;
}

.icons .fa-plus{
  padding: 0.5rem;
  width: 18px;
  height: 18px;
  background-color: #19ffc5;
  color: #000;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; 
}

.task-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info h3{
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  color: #6b6b6b;
}

.todo-search{
  width: max-content;
  border: none;
  background: none;
  background-color: #202020;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px 0px 0px 20px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  width: 0%;
  justify-self: right;
}

.todo-search:focus{
  outline: none;
}

.task-wrapper input{
  display: none;
}

.todo-tasks{
  width: 100%;
  padding: 0 2rem 0 2rem;
  margin: 0;
}

.task-wrapper{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
}

.task-wrapper p{
  margin: 0.5rem;
  transition: all 0.2s ease-in-out;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.task-wrapper .checkmark{
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 3px solid #202020;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent  ;
  font-size: 0.9rem;
  font-weight: 900;
}

.task-wrapper input:checked + .checkmark {
  background-color: #19ffc5;
  color: #000;
}

.task-wrapper input:checked ~ p{
  text-decoration: line-through;
  color: #6b6b6b;
}

i{
  color:#000;
}