html {
  background-color: rgba(15, 15, 15, 1);
}

.hidden{
  opacity: 0;
  display: none !important;
  cursor: default;
}

body {
  max-width: 1700px;
  background: linear-gradient(
    45deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(26, 26, 26, 1) 30%,
    rgba(15, 15, 15, 1) 100%
  );
  box-sizing: border-box;
  color: white;
  font-family: "IBM plex sans", sans-serif;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0rem 0rem 3rem #6b6b6b;
  border-radius: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 98%;
  top: 0;
  z-index: 1000;
}

.nav-right {
  display: flex;
  cursor: pointer;
  align-self: center;
}

.nav-right img {
  height: 30px;
}

#date{
  font-size: 2.5rem;
  margin: 0;
}

#day{
  margin: 0;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

.search-bar{
  display: flex;
  flex: 2.5;
  justify-content: center;
  align-items: center;
}

.search{
  position: relative;
  width: 98%;
  display: flex;
  align-items: center;
}

#search{
  border: none;
  background: none;
  background-color: #202020;
  font-size: 1.5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 20px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

#search:focus{
  color: #c5c5c5;
  outline: none;
}

#search:hover{
  background-color: #272727;
}

.search i{
  position: absolute;
  left: 76%;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.2rem;
  color: #19ffc5;
}

#category{
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  width: auto;
  padding: 0.2rem 1rem;
  height: auto;
  border-radius: 10px;
  background-color: #2e2e2e;
  color: #fff;
  font-weight: 600;
  border: none;
}

#category:focus{
  outline: none;
}

.qa-header{
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  border-radius: 20px 20px 0 0;
}

.qa-header p{
  font-size: 1.5rem;
  font-weight: 700;
  color: #c5c5c5;
  margin: 0;
  padding: 0.5rem 2rem;
}

.qa-header i{
  font-size: 1.5rem;
  font-weight: 700;
  color: #19ffc5;
  margin: 0;
  padding: 0.5rem 2rem;
}

.dictionary{
  position: fixed;
  top: 20%;
  height: max-content;
  width: 82%;
  background-color: #202020;
  z-index: 1001;
  color: white;
  margin: 2rem auto;
  padding: 2rem;
  padding-top: 0.5rem;
  box-shadow: 0rem 0rem 0.2rem #6b6b6b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.word{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.part-of-speech{
  margin: 0;
}

.definition{
  font-weight: 500;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.left-column{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  width: 100%;
  max-width: 1000px;
  height: 35rem;
  box-shadow: 0rem 0rem 1rem #2e2e2e;
  border-radius: 20px;
  transition: transform 0.1s ease-in-out;
  background-color: #1a1a1a;
  padding: 1rem;
  padding-top: 0.5rem;
}

.primary-task{
  background-color: #202020;
  margin: 0.2rem 0 1rem 0;
  padding: 0 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.primary-task h3{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  font-style: italic;
  color: #dbdbdb;
}

.primary-task > h3 > a > i {
  color: #19ffc5;
  cursor: pointer;
}

.side-card{
  height: 100px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0rem 0rem 0.5rem #2e2e2e;
  padding: 1rem;
}